<div class="login-page">
    <div class="container d-flex align-items-center justify-content-center h-100">
        <div class="login-wrapper">

            <div class=" row h-100">

                <div class="login-form">

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHrWKn4ufjcYFO9je547wRFxpSPmJTwqZ7nw&s"
                        alt="">

                    <form>

                        <span class="p-input-icon-left">
                            <i class="pi pi-at"></i>
                            <input type="text" pInputText placeholder="E-Posta">
                        </span>


                        <span class="p-input-icon-left">
                            <i class="pi pi-lock"></i>
                            <input type="password" pInputText placeholder="Şifre">
                        </span>

                        <button pButton label="Giris Yap" class="w-100" icon="pi pi-sign-in"></button>
                    </form>

                </div>


            </div>

        </div>

    </div>
</div>