<div class="register-wrapper">
    <div class="register-card">
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="row gy-4 gx-4">
                <div class="col-lg-6">
                    <input pInputText formControlName="name" placeholder="İsim" type="text">
                </div>

                <div class="col-lg-6">
                    <input pInputText formControlName="surname" placeholder="Soyisim" type="text">
                </div>

                <div class="col-lg-6">
                    <input pInputText formControlName="mail" placeholder="E-posta" type="text">
                </div>

                <div class="col-lg-6">
                    <input pInputText formControlName="userName" placeholder="Kullanıcı Adı" type="text">
                </div>

                <div class="col-lg-6">
                    <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                        [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                        [searchCountryField]="[
                      SearchCountryField.Iso2,
                      SearchCountryField.Name
                    ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                        [phoneValidation]="true" [separateDialCode]="separateDialCode"
                        [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
                    </ngx-intl-tel-input>
                </div>

                <div class="col-lg-6">
                    <textarea pInputText formControlName="address" placeholder="Adres" type="text"> </textarea>
                </div>

                <div class="col-lg-6">

                    <span class="p-input-icon-left w-100 ">
                        <i class="pi pi-lock"></i>
                        <input type="password" name="password" (input)="op.show($event);" formControlName="password"
                            pInputText placeholder="Şifre" />

                    </span>

                </div>

                <div class="col-lg-6">

                    <span class="p-input-icon-left  w-100 ">
                        <i class="pi pi-lock"></i>
                        <input type="password" name="password" [(ngModel)]="confirmPassword"
                            [ngModelOptions]="{standalone:true}" pInputText placeholder="Şifre Yeniden" />

                    </span>

                </div>


                <p-overlayPanel #op [style]="{'width':'250px'}">
                    <div class="row gy-4">
                        <div class="d-flex gap-2 align-items-center">
                            <i *ngIf="!isUpper" class="pi pi-plus" style="transform:rotate( 135deg);color: red"></i>
                            <i *ngIf="isUpper" class="pi pi-check"></i>
                            Büyük Harf Bulunmalı
                        </div>

                        <div class="d-flex gap-2 align-items-center">
                            <i *ngIf="!isLower" class="pi pi-plus" style="transform:rotate( 135deg);color: red"></i>
                            <i *ngIf="isLower" class="pi pi-check"></i>

                            Küçük Harf Bulunmalı
                        </div>

                        <div class="d-flex gap-2 align-items-center">
                            <i *ngIf="!isNumber" class="pi pi-plus" style="transform:rotate( 135deg);color: red"></i>
                            <i *ngIf="isNumber" class="pi pi-check"></i>

                            Sayı Bulunmalı
                        </div>

                        <div class="d-flex gap-2 align-items-center">
                            <i *ngIf="!isSpaceless" class="pi pi-plus"
                                style="transform:rotate( 135deg);color: red;"></i>
                            <i *ngIf="isSpaceless" class="pi pi-check"></i>

                            Boşluk Olmamalı
                        </div>

                    </div>
                </p-overlayPanel>


                <div>
                    <button pButton class="w-100" label="Kayıt Ol" type="submit"></button>
                </div>
            </div>
        </form>
    </div>

</div>
<p-toast></p-toast>