.register-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  ::ng-deep input,
  ::ng-deep span,
  ::ng-deep textarea,
  ::ng-deep .iti,
  ngx-intl-tel-input {
    width: 100%;
  }
  .register-card {
    padding: 2rem;

    border: 1px solid;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    input,
    textarea {
      width: 100%;
    }
    textarea {
      height: 49.1px;
    }
  }
}
