.upperlayer {
  text-align: center;
  img {
    height: 300px;
    width: 100%;
    object-fit: contain;
    max-width: 200px;
    transition: transform 0.5s ease-in-out;
  }
}

.footerlayer {
  height: 0;
  opacity: 0;

  transition: height 0.5s ease-in-out, opacity 1s ease-in-out;
}

.kadir-card:hover {
  .footerlayer {
    height: 200px;
    opacity: 1;
  }
  img {
  }
}
