<div class="kadir-card card">
    <div routerLink="/details/{{product.Id}}" style="display: flex; justify-content: end; align-items:center;"
        class="pe-3 gap-3">
        <span style="cursor: pointer;">Detay </span> <i class="pi pi-arrow-right"></i>
    </div>
    <div class="upperlayer">
        <img src="{{product.Images[0]}}" alt="">
    </div>
    <div class="footerlayer">
        <div class="d-flex align-items-center justify-content-around h-100">
            <div class="product-name">
                {{product.Name}}
            </div>
            <div class="price">
                {{product.Price | currency:'USD'}}
            </div>
            <div>
                <button (click)="addBasket()">Sepete Ekle</button>
            </div>
        </div>

    </div>
</div>